<h2><%= t('.header') %></h2>
<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
</p>
<p>
  <strong><%= t('.level') %></strong>
  <%= test_level(@test) %>
</p>
<p>
  <strong><%= t('.count_questions') %></strong>
  <%= @test.questions.count  %>
</p>

<p><%= link_to t('.back'), admin_tests_path%></p>
<p><%= link_to t('.edit'), edit_admin_test_path%></p>
<h2><%= t('.questions') %></h2>
<p><%= link_to t('.new'), new_admin_test_question_path(@test) %></p>
<table>
  <tr>
      <th><%= t('.id') %></th>
      <th><%= t('.body') %></th>
      <th colspan="3"><%= t('.action') %></th>
  </tr>
  <%= render @questions %>
</table>
