<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %> |
      <%= link_to 'Sing up', new_user_registration_path %> 
    </p>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
