<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <p class="nav_user">
        Welcome, <b><%= current_user.email %></b> Guru
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </p>
    <% end %>

    <%= render 'shared/flash' %>

    <nav>
      <%= link_to 'TestGuru', root_path %>
      <%#= link_to 'Signup', signup_path %>
      <%#= link_to 'Login', login_path %>
    </nav>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
