<h1>Passing the <%= @test_passage.test.title %>Test </h1>
<h2>
  Question number <%= @test_passage.current_question_number %>
  from <%= @test_passage.test.questions.count %>
</h2>
<% if @test_passage.timer? %>
  <%= content_tag :h3, nil, class: "time-left", data: { time_left: @test_passage.time_left } %>
<% end %>
<div class="progress bg-success">
  <%= content_tag :div,
                  '',
                  class: "progress-bar",
                  role: "progressbar",
                  data: { current_number: @test_passage.current_question_number,
                          count: @test_passage.test.questions.count } %>
</div>
<p>
  <b><%= @test_passage.current_question.body %></b>
</p>


<%= form_with url: test_passage_path(@test_passage), local: true, class: 'show-test-passage-form', method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body,
  include_hidden: false  do |b| %>
    <p>
      <%= b.check_box id: "answer_ids#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit 'Next' %></p>
<% end %>
<p><%= link_to 'Back', tests_path %></p>
