<h1>The <%= @test_passage.test.title %> Test was Comleted</h1>
<p>Percent correct answers <%= @percent %></p>
<% if @test_passage.successful? %>
  <h2 class="result_header succes"><%= result_header(@test_passage) %></h2>
<% else %>
  <h2 class="result_header fail"><%= result_header(@test_passage) %></h2>
<% end %>

<p><%= link_to 'Back', tests_path %></p>
