<%= form_with model: @user, local: true do |form| %>
  <%= render '/shared/errors', resource: @user %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, id: :email %>
  </p>
  <p>
    <%= form.label :access %><br>
    <%= form.text_field :access, id: :access  %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, id: :user_password %>
  </p>

  <p>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmatio, id: :user_password_confirmation %>
  </p>

  <p><%= form.submit %></p>
<% end %>
